.edit-page {
    padding: 70px;
    transition: all 0.5s ease;
}
.label {
    margin-bottom: 1px;
    font-weight: 500;
    color:  #17a2b8;
}
.submit-forms{
    padding-left: 350px;
}
.form-group input {
    font-size: 14px;
    font-weight: 500;
    width: 50%;
}
.btn{
    font-size: 14px;
    font-weight: 500;
    width: 50%;
    background-color: #17a2b8!important;
    border-color: #17a2b8!important
}
